{% extends 'layout.html' %}

{% block header %}

{{ play }}

{% if nombreImagen == play %}

{% set ahorcadoo = 'img/' +  play  + '.png' %}

    <img src="{{ url_for('static', filename=ahorcadoo)}}" alt="">

{% else %}

{% for i in play %}

<br>

{{ i }}


{% endfor%}
{% endif %}




<br>

{% endblock %}

<!-- ***************************************************-->

{% block main %}


<br>

{{ random }}



<br>


<form action="{{ url_for('ahorcado') }}" method="post">

    <label for="usuario">
        INTRODUZCA LA LETRA
    </label>

    <input type="text" name="letra" id="" pattern="[A-Za-z]{1}" title="Sólo puede introducir una letra alfabética sea mayúscula o minúscula, cabrón hijo puta">

    <button type="submit">JUGAR
        <input type="hidden" name="activar" value="activar">
    </button>
</form>

<br>

<h1>Tienes 5 oportunidades</h1>




{% endblock %}