{% extends 'layout.html' %}

{% block header %}



{% endblock %}

{% block main %}

{{ random }}

{{ otraRandom }}

{{ tercer }}


{% for i in play %}

{{ i }}

{% endfor %}


<form action="{{ url_for('ahorcado') }}" method="post">

    <label for="usuario">
        INTRODUZCA LA LETRA
    </label>

    <input type="text" name="letra" id="" pattern="[A-Za-z]{1}" title="Sólo puede introducir una letra alfabética sea mayúscula o minúscula, cabrón hijo puta">

    <button type="submit">JUGAR
        <input type="hidden" name="activar" value="activar">
    </button>
</form>


{% endblock %}