{% extends 'layout.html' %}

{% block header %}



{% endblock %}

<!-- ***************************************************-->

{% block main %}


<br>

{{ random }}



<br>


<form action="{{ url_for('ahorcado') }}" method="post">

        {% set ahorcadoo = 'img/' +  imgAhorcado  + '.png' %}

        <img src="{{ url_for('static', filename=ahorcadoo)}}" alt="">

    <label for="usuario">
        INTRODUZCA LA LETRA
    </label>

    <input type="text" name="letra" id="" pattern="[A-Za-z]{1}" title="Sólo puede introducir una letra alfabética sea mayúscula o minúscula, cabrón hijo puta">

    <button type="submit">JUGAR
        <input type="hidden" name="activar" value="activar">
    </button>
</form>

<br>

<h1>Tienes 5 oportunidades</h1>


<h1>LETRAS: {{ letras }}   </h1>

<h1>IMG ahorcado: {{ imgAhorcado }} </h1>

<br>



{% endblock %}