
<!--EN BASE.HTML/LAYOUT.HTML TNEEMOS QUE TNER TODOS LOS EXTENDS O IMPORT DEL BOOTSTRAP-->
{% extends 'bootstrap/base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}
    
    {% block head %}

    {{ super() }}

    {% block meta %}

    <title>
        {% block title %}
            
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">

    {% endblock %}

    {% endblock %}

    {% block body %}

            {% block navbar %}

            {% include 'navbar.html'%}

            {% endblock %}
    
    {% block contents %}

            {% block main %}

            {% endblock %}

    {% endblock %}

    {% endblock %}
