{% extends 'layout.html' %}

{% block title %}
            
{{ super() }}

HOME

{% endblock %}



{% block header %}



{% endblock %}

{% block main %}



       <form action="{{ url_for('home') }}" method="POST">

        <label for="anyo">
            INTRODUCE EL AÑO PARA SABER TU SIGNO
        </label>

        <input class="input" type="number" name="anyo" placeholder="Introduce el anyo" maxlenght="4" required autofocus>
    ​
        </form>
    <!-- ​
        {  { wtf.quick_form(login_form) }  } -->




{% endblock %}


{% block footer %}

            {% endblock %}
    ​
    