<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    
    <title>
        {% block title %}
            Horoscopo
        {% endblock %}
    </title>
</head>
<body>
        <h1>TU HOROSCOPO CHINO</h1>
        <header>

                <h1 class="titulo">不要告诉我你的生活 裂纹</h1>


            {% block header %}

            {% endblock %}
        </header>

        <main>

                <h1 class="logo">星座</h1>

                <h3 class="logo_subtitulo">Bienvenido a tu HOROSCOPO</h3>
                
                
                <div class="container">

            {% block main %}

            {% endblock %}

        </div>

        </main>

        <footer>

            {% block footer %}

            {% endblock %}

        </footer>
   
</body>
</html>