{% extends 'base.html' %}

{% block title %}

REGISTRO

        {% endblock %}



        {% block main %}

         {{ datoNombre }}
         <br>
         {{ datoApellidos }}
         <br>
         {{ datoPassword }}
         <br>
         {{ datoDireccion }}
         <br>
         {{ datoLocalidad }}
         <br>
         {{ datoNacionalidad }}
         <br>
         {{ datoDni }}
         <br>
         {{ datoEmail }}
         <br>
            

          



        {% endblock %}




        {% block footer %}

        {% endblock %}