{% extends 'layout.html' %}

{% block header %}

<h1>Bienvenido Especialista, Ingresa las nuevas palabras</h1>

{% endblock %}

{% block main %}

<div class="contenedor">

<a href="{{ url_for('usuario') }}">JUGAR</a>

<br>

<form action="{{ url_for('palabras') }}" method="post">

<h2>Ingresa para Registrar la palabra</h2>

<label for="palabra">Nueva Palabra</label>

<input type="text" name="nuevaPalabra" required>

<br>

<select name="tipo" required>

    <option value="naturaleza">
        Naturaleza
    </option>
    <option value="objetos">
        Objetos
    </option>
    <option value="animales">
        Animales
    </option>
    <option value="romance">
        Romance
    </option>
</select>

<br>

<button type="submit">AGREGAR PALABRA</button>

</form>

<br>

{% if palabra_existe == True %}

<h1>ESTA PALABRA YA ESTA REGISTRADA</h1>

{% endif %}

<br>


<br>

<a href="{{ url_for('historialPalabra') }}">HISTORIAL</a>

<br>

<a href="{{ url_for('eliminarPalabra') }}">ELIMINAR</a>


</div>


{% endblock %}