{% extends 'layout.html' %}

{% block title %}
            
{{ super() }}

HOME

{% endblock %}


{% block header %}


{% set comp1 = 'img/' + compatibilidad1 + '.svg' %}

    <img src="{{ url_for('static', filename=comp1)}}" alt="">

    <br>

    {% set comp2 = 'img/' + compatibilidad2 + '.svg' %}

    <img src="{{ url_for('static', filename=comp2)}}" alt="">

{% endblock %}

{% block main %}

        <a href="{{ url_for('home')}}">VOLVER</a>


      {{ signo_usuario }}

<figure class="bicho">

    <!--   Creamos en una variable de JINJA la ruta paara despues ponerla en el SRC del IMG en FILENAME-->

    {% set bicho_ruta = 'img/' + signo_usuario + '.svg' %}

    <img src="{{ url_for('static', filename=bicho_ruta)}}" alt="">


    <!-- FIGCAPTION: Nos permite enseñar el nombre de la imagen o autor que ha diseñado la imagen, debajo de la imagen o SVG-->

    <figcaption>
    
    {{ signo_usuario }}
    
</figcaption>

</figure>



{% endblock %}


{% block footer %}

{{ descripcion }}

            {% endblock %}