{% extends 'layout.html' %}

{% block header %}



{% endblock %}

<!-- ***************************************************-->

{% block main %}


<h1>INGRESA TU USUARIO Y JUEGA</h1>

<form action="{{ url_for('usuario') }}" method="post">

    <label for="usuario">
        USUARIO
    </label>

    <input type="text" name="usuario" required>

    <br>

    <label for="contraseña">
        CONTRASEÑA
    </label>

    <input type="password" name="password" required>

    <br>


    <button type="submit">REGISTRARSE Y JUGAR</button>

</form>


{% if no_usuario == True %}

<h1>  NO HAY NINGUN USUARIO NI CONTRASEÑA, VUELVE A INTENTARLO, O REGISTRATE:</h1>

<br>

<a href="{{ url_for('registro') }}">REGISTRATE</a>



{% endif %}



{% endblock %}
